header{
    display: block;
    background: linear-gradient(45deg, palevioletred, rgba(180,40,220,30%), bisque);
    height: 250px;
    margin: auto;
}
img{
    position: absolute;
    width:159px;
    max-width: 200px;
    height: 159px;
    display: inline;
    margin: auto;
    border: 1px hidden;
    padding-top: 3px;
    padding-left: 3px;
    border-radius: 50%;
    z-index: 100;
}
div.header{
    height: 70px;
    min-width: 400px;
    display: inline;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    float: right;
    padding-top: 134px;
    padding-right: 188px;
    padding-bottom: 0;
    padding-left: 3px;
    margin: auto;
}
form{
    display: inline;
    margin: auto;
    float: right;
    height: 30px;
}
input[placeholder="search"]{
    height: 30px;
    background-image: url("../fontawesome/fontawesome.com_icons_magnifying-glass_s=solid2.png");
    background-position: 6px 10px;
    background-repeat: no-repeat;
    padding: 4px 15px 4px 30px;
    border: 1px hidden;
    border-radius: 7px;
    margin-top: 3px;
    margin-right: 3px;

}
nav{
    display: flex;
    justify-content: center;
    min-width: 200px;
    min-height: 50px;
    background: linear-gradient(30deg, palevioletred, rgba(180,40,220,30%), bisque);
}
a:link{
    color:black;
    text-decoration: none;
    letter-spacing: 1pt;
    word-spacing: 2pt;
    font-weight: bolder;
    font-size: 20px;
}
a:visited{
    color: rgba(209, 94, 117, 0.5);
}
a:hover{
    color: indianred;
}
a.log{
    float: right;
    margin: auto;
}
a[target="_blank"]{
    float: right;
    margin: auto;
}
a.prod{
    float: left;margin: auto;
}
a.join{margin: auto;
}